# Core
.storage/
home-assistant_v2.db*
.ha_run.lock

# Logs
*.log*

# Zigbee2MQTT runtime
zigbee2mqtt/database.db
zigbee2mqtt/state.json

# Temporary / cache
*.db-shm
*.db-wal
*.lock
.cache

# Secrets (souvent exclu)
secrets.yaml

# IDE
.vscode/
.idea/

# Python
__pycache__
*.pyc

# Node
node_modules
